<h1>
    From GrandChild - @Name - @Price - @Name1
</h1>

@* <h1 style="background-color: rgb(199, 89, 62);">
<GreateGrandChild></GreateGrandChild>
</h1> *@

@code {
    [CascadingParameter(Name = "Name")]
    public string? Name { get; set; }

    [CascadingParameter(Name = "Price")]
    public int Price { get; set; }

    [CascadingParameter(Name = "Name1")]
    public string? Name1 { get; set; }
}