<h1>
    From CHILD
</h1>
<h1 style="background-color: rgb(62, 135, 199);">
    <GrandChild></GrandChild>
</h1>


@code {
    [Parameter]
    public Student? student { get; set; }

    @* [Parameter]
public string? Price { get; set; } *@
}