@{
    ViewData["Title"] = "CreateTweet";
}

<h1>CreateTweet</h1>

<div class="mt-3">
    <form action="/Tweet/CreateTweet" method="post">

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Enter Title</label>
            <input type="text" class="form-control" name="title" placeholder="Tweet Title">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Tweet Tags (with comma separation, max 3)</label>
            <input type="text" class="form-control" name="tags" placeholder="Tweet Tags">
        </div>

        <div class="mb-3">
            <label class="form-label">Enter Tweet Detail</label>
            <textarea class="form-control" placeholder="Enter Tweet Detail" name="detail" rows="3"></textarea>
        </div>

        <input class="btn btn-primary form-label mt-2" type="submit" value="POST" />
    </form>
</div>