@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Console.WriteLine("Hello World");
    var name = "Kamran";

    ViewData["Title"] = "Index2 Page";
    // Layout = "_Layout";
}

<title>
    this is repeating
</title>

<h5>
    Hello World, @name
</h5>

<h6>
    Today is @System.DateTime.Now
</h6>