@{
  ViewData["Title"] = "Home Page";
}

<div class="container  pt-3">
  <div class="row">

    <div class="col-8">

      <div class="text-center">

        <div class="row">

          <div class="col-4 p-2">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  <a asp-controller="Tweet" asp-action="SingleTweet">
                    Tweet title
                  </a>
                </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a href="#" class="btn btn-outline-danger m-1">#Tag1</a>
                <a href="#" class="btn btn-outline-primary m-1">#Tag2 lfjs dklf</a>
                <a href="#" class="btn btn-outline-dark m-1">#Tag3</a>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="col-4" style="background-color: rgb(229, 231, 237); border-radius: 20px; padding: 15px;">
      <h3 style="color: rgb(79, 119, 146);">Top Trending Tweets</h3>
      <div class="card mt-2">
        <div class="card-body">
          <h5 class="card-title">
            <a asp-controller="Tweet" asp-action="SingleTweet">
              Tweet title
            </a>
          </h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">View Comments</a>
        </div>
      </div>

      <div class="card mt-2">
        <div class="card-body">
          <h5 class="card-title">
            <a asp-controller="Tweet" asp-action="SingleTweet">
              Tweet title
            </a>
          </h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">View Comments</a>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
</div>
