@model ProjectTweet.Models.DB.TweetModel;
@{
    ViewData["Title"] = "_TopTweetPartial";
}



<div class="card mt-2">
    <div class="card-body">
        <h5 class="card-title">
            <a asp-controller="Tweet" asp-action="SingleTweet">
                @Model.Title
            </a>
        </h5>
        <p class="card-text">@Model.Content</p>
        <a href="#" class="btn btn-primary">Total Likes (@Model.LikesCount) </a>
        <a href="#" class="btn btn-primary">View Comments (@Model.Comments.Count) </a>
    </div>
</div>
