@model List<ProjectTweets2.Models.ViewModel.SharedTweetModel>

@{
    ViewData["Title"] = "SharedTweets";
}


<div class="container pt-3">

    <h2 class="text-center">Friends Shared Tweets</h2>

    <div class="row text-center">

        @foreach (var item in @Model)
        {
            <div class="col-3 p-2">
                <div class="card" style="padding: 10px;">
                    <h4>@item.User.FirstName - Shared</h4>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a asp-controller="Tweet" asp-action="SingleTweet">
                                    @item.Tweet.Title
                                </a>
                            </h5>
                            <p class="card-text">
                                @item.Tweet.Content
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        }



    </div>

</div>
</div>