@page "/p"

<EditForm Model="@temp" OnValidSubmit="test1" OnInvalidSubmit="test2">
    <ValidationSummary />
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label for="email">Email</label>
        <InputText id="email" class="form-control" type="email" @bind-Value="temp.Email" />
        <ValidationMessage For="@(() => temp.Email)" />
    </div>

    <div class="mb-3">
        <label for="name">Name</label>
        <InputText id="name" class="form-control" type="text" @bind-Value="temp.Name" />
        <ValidationMessage For="@(() => temp.Name)" />
    </div>

    <button type="submit" class="btn btn-primary">Login</button>

</EditForm>


@code {

    public Test temp { get; set; } = new Test();

    @* public void test1()
{
Console.WriteLine("OnValidSubmit");
}

public void test2()
{
Console.WriteLine("OnInValidSubmit");
} *@


    public class Test
    {
        [Required]
        [MaxLength(6)]
        public string Name { get; set; }

        [Required]
        [EmailAddress]
        public string Email { get; set; }
    }
}