@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form action="/Student/Add" method="post">

    <label>
        Name
    </label>
    <input type="text" name="name" />


    <label>
        Semester
    </label>
    <input type="text" name="semester" />

    <input type="submit" value="save" />

</form>


