
@model List<lec10.Models.Student>


@{
    Layout = null;
}

<div>
    <h2>All Students Page</h2>

    @if(Model != null)
    {
        foreach (var stu in Model)
        {
            <h1>----------------</h1>
            <h3> @stu.Id </h3>
            <h3> @stu.Name </h3>
            <h3> @stu.Semester </h3>
        }
    }

</div>
