@model lec10.Models.Student

@{
    Layout = null;
    // Student s = Model;
}

<div>
    <h2>Student Page</h2>


    <h1>----------------</h1>
    <h3> @Model.Id </h3>
    <h3> @Model.Name </h3>
    <h3> @Model.Semester </h3>

</div>
