@page "/pc4"

<h1>Parent Component</h1>


<PCom6>
    <Section1 Context="ok">
        <div class="bg-primary">
            <p>@ok.Id - @ok.Name - @ok.StudentId</p>
        </div>
    </Section1>
</PCom6>

@code {
}