<div>
    @MyUi(product)
</div>

@code {

    [Parameter]
    public RenderFragment<Product> MyUi { get; set; }

    public Product product { get; set; } = new Product
        {
            Id = 1,
            Price = 100,
            Title = "P1"
        };
}

@* CRUD - Create *@