@* there is no need for layout *@


<h1>
    This is My Partial View One
</h1>
<p>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    @foreach (var item in @Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    }
</p>