@model lec12.Models.User
@{
    ViewData["Title"] = "Login";
}


<form>
    <label>UserName</label>
    <input name="UserName" type="text" />
    <label>Password</label>
    <input name="Password" type="text" />
</form>